-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "public"."UserRole" ADD VALUE 'employee';
ALTER TYPE "public"."UserRole" ADD VALUE 'manager';
ALTER TYPE "public"."UserRole" ADD VALUE 'tenant_admin';
ALTER TYPE "public"."UserRole" ADD VALUE 'platform_support';
ALTER TYPE "public"."UserRole" ADD VALUE 'platform_super_admin';

-- DropIndex
DROP INDEX "public"."event_sessions_status_idx";

-- DropIndex
DROP INDEX "public"."ocr_jobs_status_created_at_idx";

-- DropIndex
DROP INDEX "public"."audit_events_created_at_idx";

-- AlterTable
ALTER TABLE "public"."users" ADD COLUMN     "invited_by" UUID,
ADD COLUMN     "organization_id" UUID;

-- AlterTable
ALTER TABLE "public"."contacts" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."contact_encounters" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."event_sessions" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."session_members" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."ocr_jobs" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."card_images" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."audit_events" ADD COLUMN     "organization_id" UUID;

-- AlterTable
ALTER TABLE "public"."exports" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."sync_queue" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."notifications" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."relationship_matches" ADD COLUMN     "organization_id" UUID NOT NULL;

-- AlterTable
ALTER TABLE "public"."contact_merge_history" ADD COLUMN     "organization_id" UUID NOT NULL;

-- CreateTable
CREATE TABLE "public"."organizations" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "plan" TEXT NOT NULL DEFAULT 'free',
    "settings" JSONB NOT NULL DEFAULT '{}',
    "max_users" INTEGER NOT NULL DEFAULT 50,
    "storage_quota_gb" INTEGER NOT NULL DEFAULT 10,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "stripe_customer_id" TEXT,
    "stripe_subscription_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "deleted_at" TIMESTAMP(3),

    CONSTRAINT "organizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."plans" (
    "id" UUID NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "price_inr" INTEGER NOT NULL DEFAULT 0,
    "billing_interval" TEXT,
    "description" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."role_permissions" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "role" "public"."UserRole" NOT NULL,
    "resource" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "allowed" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "organizations_slug_key" ON "public"."organizations"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "organizations_stripe_customer_id_key" ON "public"."organizations"("stripe_customer_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "plans_code_key" ON "public"."plans"("code" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "role_permissions_organization_id_role_resource_action_key" ON "public"."role_permissions"("organization_id" ASC, "role" ASC, "resource" ASC, "action" ASC);

-- CreateIndex
CREATE INDEX "users_organization_id_idx" ON "public"."users"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "contacts_organization_id_capture_mode_idx" ON "public"."contacts"("organization_id" ASC, "capture_mode" ASC);

-- CreateIndex
CREATE INDEX "contacts_organization_id_idx" ON "public"."contacts"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "event_sessions_organization_id_status_idx" ON "public"."event_sessions"("organization_id" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "ocr_jobs_organization_id_status_created_at_idx" ON "public"."ocr_jobs"("organization_id" ASC, "status" ASC, "created_at" ASC);

-- CreateIndex
CREATE INDEX "audit_events_organization_id_created_at_idx" ON "public"."audit_events"("organization_id" ASC, "created_at" DESC);

-- AddForeignKey
ALTER TABLE "public"."audit_events" ADD CONSTRAINT "audit_events_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."card_images" ADD CONSTRAINT "card_images_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."contact_encounters" ADD CONSTRAINT "contact_encounters_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."contact_merge_history" ADD CONSTRAINT "contact_merge_history_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."contacts" ADD CONSTRAINT "contacts_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event_sessions" ADD CONSTRAINT "event_sessions_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."exports" ADD CONSTRAINT "exports_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."notifications" ADD CONSTRAINT "notifications_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ocr_jobs" ADD CONSTRAINT "ocr_jobs_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."organizations" ADD CONSTRAINT "organizations_plan_fkey" FOREIGN KEY ("plan") REFERENCES "public"."plans"("code") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."relationship_matches" ADD CONSTRAINT "relationship_matches_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."role_permissions" ADD CONSTRAINT "role_permissions_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."session_members" ADD CONSTRAINT "session_members_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."sync_queue" ADD CONSTRAINT "sync_queue_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."users" ADD CONSTRAINT "users_invited_by_fkey" FOREIGN KEY ("invited_by") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."users" ADD CONSTRAINT "users_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

